.body {
  display: block;
  flex: 1;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 70%;
}
.header {
  margin-bottom: 60px;
}
.header h1 {
  text-align: center;
  color: saddlebrown;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-section {
  display: flex;
  justify-content: space-around;
}
.button {
  padding: 25px 35px;
  margin: 0 20px;
  font-size: 20px;
  border: none;
  background-color: lemonchiffon;
  color: saddlebrown;
  border-radius: 10px;
}