/* COLOR PALETTE AND VARIABLES */
:root {
  --umber: #7E6551;
  --cream: #F1F7ED;
  --shamrock: #7CA982;
  --nyanza: #E0EEC6;
  --bblue: #235789;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--shamrock);
}
.header {
  padding: 20px 0;
  background-color:  var(--bblue);
}
.header h1 {
  margin: 0;
  text-align: center;
  color: var(--cream);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}
.container {
  margin: 0 auto;
  background-color: var(--shamrock);
  padding: 20px;
  height: 540px;
  width: 600px;
}
.main {
  display: block;
  background-color: var(--shamrock);
  flex: 1;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 70%;
}

.intro {
  text-align: center;
  font-size: 24px;
  color: var(--cream);
}
.results {
  height: 250px;
  margin-bottom: 30px;
  display: block;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: var(--cream);
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.game {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}
.playerContainer {
  display: flex;
  justify-content: space-around;
}
.btn-section {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.button {
  padding: 25px 35px;
  margin: 0 20px;
  font-size: 20px;
  border: none;
  background-color: var(--cream);
  color: var(--umber);
  border-radius: 10px;
}
.button:hover {
  background-color: var(--bblue);
  color: var(--nyanza);
  cursor: pointer;
}
.disabled, .disabled:hover{
  background-color: var(--cream);
  color: var(--umber);
  cursor: not-allowed;
}